// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper {
  width:500px;
  margin:0 auto;
  background-color:#d8d8d6;
  padding:1em;
  border-radius:10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);

}
